* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', sans-serif;
}

.navbar {
    background-color: #4F4D9D;
    padding: 20px 0;
    text-align: right;
}

.navbar ul {
    list-style: none;
    padding-right: 50px;
}

.navbar li {
    display: inline;
    margin-left: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
}

.hero-section {
    background-color: #AB85DC;
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 10%;
    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-image {
    margin-left: auto;
    padding-right: 120px;
}

.hero-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.about-section {
    background-color: #4F4D9D;  
    color: white;
    padding: 120px 10%;
    display: flex;
    justify-content: center;
    border-top: 5px solid #AB85DC;
}

.about-container {
    max-width: 900px;
}

.about-container h2 {
    font-size: 2.8rem;
    margin-bottom: 40px;
    font-family: Georgia, serif;
    color: white;
    text-align: center;
}

.about-container p {
    font-size: 1.15rem;
    line-height: 1.9;
    margin-bottom: 25px;
    color: rgba(255, 255, 255, 0.95);
    text-align: justify;
}

.skills-section {
    background-color: #AB85DC;
    color: white;
    padding: 120px 10%;
    text-align: center;
}

.skills-container h2 {
    font-size: 2.8rem;
    margin-bottom: 60px;
    font-family: Georgia, serif;
}


.skills-row {
    display: flex;
    justify-content: center;
    gap: 60px;        
    flex-wrap: wrap;   
    margin-bottom: 40px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;      
}

.skill img {
    width: 80px;       
    height: 80px;
    object-fit: contain;
    margin-bottom: 15px;
}

.skill p {
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}